QPushButton#m_pLoginButton
{
    color : rgb(255, 255, 255);
    background-color: rgb(232, 142, 52);
    font-family:"Arial";
    font-size: 16px;
    border-radius: 3px;
}
QLabel#m_pLoginLabel
{
    font-family:"Arial";
    font-size: 32px;
    color : rgb(20, 20, 20);
}
QLabel#m_pUserNameLabel
{
    font-family:"Arial";
    font-size: 18px;
    color : rgb(20, 20, 20);
}
QLineEdit
{
    border: 1px solid #c9c9c9;
    border-radius: 5px;
}

.donor-name {
	color: #333; /* text color */
	font-family: "Arial";
	font-size: 14px;
}
QLineEdit#LastFirstName
{
    min-height: 20px;
    max-width: 82px;
    color: #333; /* text color */
    font-family: "Arial";
    border: 2px solid gray;
        border-radius: 10px;
        padding: 0 0px;
        background: yellow;
        selection-background-color: darkgray;

}