QGroupBox
{
    border: 1px solid #0068b7;
    border-radius: 4px;
    margin-top: 16px;
    font-size: 18px;
    font-family:"Arial";
}
QGroupBox::title
{
    subcontrol-origin: margin;
    border: 0px solid #ffffff;
    border-radius: 3px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
        stop: 0 #0069b9, stop: 1 #1b8ee6);
    padding: 2 2px;
    color: white;
    min-height: 32px;
    min-width: 219px;
    subcontrol-origin:  margin;
    subcontrol-position: top left;
    left: 19px;
}
QLabel
{
        color: #333; /* text color */
        font-family: "Arial";
        font-size: 14px;
}
QLabel#m_pDonorIDWidget
{
        color: #333; /* text color */
        font-family: "Arial";
        font-size: 14px;
        margin-top: 7px;
}
QLineEdit
{
    min-height: 21px;
    min-width: 175px;
    max-width:  180px;
    color: #333; /* text color */
    font-family: "Arial";
    font-size: 14px;
    border: 1px solid #a0a0a0;
    padding: 0 0px;
}

QDateEdit
{
    min-height: 22px;
    min-width: 177px;
    color: #333; /* text color */
    font-family: "Arial";
    font-size: 14px;
}
QComboBox
{
    min-height: 21px;
    min-width: 177px;
    max-width: 180px;
    color: #333; /* text color */
    font-family: "Arial";
    font-size: 14px;
}
QTableWidget
{
    border: 1px solid #0068b7;
    border-radius: 3px;
    color:#94f3dc;
    font: 18px ;
    selection-background-color: #eeeeee;
    selection-color: black

}
QHeaderView::section
{
    background-color: #1484d9;
    height:35px;
    color: white;
    font-size: 14px;
    font-family:"Arial";
/*    font-weight:bold;*/
}
QTextEdit
{
    color: #3c3c3c;
    font-size: 16px;
    font-family:"Arial";
}
QPushButton
{
    min-width: 135px;
    min-height: 35px;
    font-size: 16px;
    font-family:"MicrosoftYaHei";
    font-weight:bold;
    border: 0px solid #0068b7;
    border-radius: 5px;
    color: white;
    background-color: rgb(230, 139, 49);
}
