QGroupBox
{
    border: 1px solid #0068b7;
    border-radius: 5px;
    margin-top: 16px;
    font-size: 18px;
    font-family:"Arial";
}
QGroupBox::title
{
    subcontrol-origin: margin;
    border: 0px solid #ffffff;
    border-radius: 3px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
        stop: 0 #0069b9, stop: 1 #1b8ee6);
    padding: 2 2px;
    color: white;
    min-height: 32px;
    min-width: 179px;
    subcontrol-origin:  margin;
    subcontrol-position: top left;
    left: 19px;
}
QGroupBox::title#ResultGroupBox
{
    subcontrol-origin: margin;
    border: 0px solid #ffffff;
    border-radius: 3px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
        stop: 0 #0069b9, stop: 1 #1b8ee6);
    color: white;
    min-height: 32px;
    min-width: 139px;
    subcontrol-origin:  margin;
    subcontrol-position: top left;
    left: 19px;
}
QLabel
{
        color: #333; /* text color */
        font-family: "Arial";
        font-size: 14px;
}
QLabel#m_pDonorNameLabel
{
        color: #333; /* text color */
        font-family: "Arial";
        font-size: 14px;
        margin-top: 7px;
}

QLineEdit#LastFirstName
{
    min-height: 19px;
    min-width: 82px;
    max-width:  180px;
    color: #333; /* text color */
    font-family: "Arial";
    border: 1px solid #a0a0a0;
    padding: 0 0px;
}
QLineEdit#m_pOtherReasonCommentsLineEdit
{
    min-height: 21px;
    min-width: 341px;
    color: #333; /* text color */
    font-family: "Arial";
    border: 1px solid #a0a0a0;
    padding: 0 0px;
}
QLineEdit
{
    min-height: 21px;
    min-width: 175px;
    max-width:  180px;
    color: #333; /* text color */
    font-family: "Arial";
    font-size: 14px;
    border: 1px solid #a0a0a0;
    padding: 0 0px;
}

QDateEdit
{
    min-height: 22px;
    min-width: 177px;
    color: #333; /* text color */
    font-family: "Arial";
    font-size: 14px;
}
QDateTimeEdit
{
    min-height: 22px;
    min-width: 177px;
    color: #333; /* text color */
    font-family: "Arial";
    font-size: 14px;
}
QCheckBox
{
    color: #333; /* text color */
    font-family: "Arial";
    font-size: 14px;
}
QCheckBox::indicator {
    width: 21px;
    height: 21px;
}
/*未选中*/
QCheckBox::indicator::unchecked {
    image: url(:/image/ico/test/unchecked.png);
}
/*选中*/
QCheckBox::indicator::checked {
    image: url(:/image/ico/test/checked.png);
}
QComboBox
{
    min-height: 21px;
    min-width: 177px;
    color: #333; /* text color */
    font-family: "Arial";
    font-size: 14px;
}
QPushButton
{
      color : rgb(255, 255, 255);
      background-color: rgb(230, 139, 49);
}
