QGroupBox
{
    border: 1px solid #0068b7;
    border-radius: 5px;
    margin-top: 16px;

}
QGroupBox::title
{
    subcontrol-origin: margin;
    background:url(:/assets/subWindowBackground);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #0b477b;
    border-bottom: none;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
        stop: 0 #0069b9, stop: 1 #1b8ee6);
    padding: 2 2px;
    color: white;
    min-height: 32px;
    min-width: 179px;
    subcontrol-origin:  margin;
    subcontrol-position: top left;
    left: 19px;
    padding: 0 2px 0 2px;
}
QPushButton
{
      color : rgb(255, 255, 255);
      background-color: rgb(230, 139, 49);
}
